<div class="card">

    <h1>{{launch.mission}}</h1>
    <div class="field">
        <label>Date:&nbsp;</label>
        <span>{{launch.date}}</span>
    </div>
    <div class="field">
        <label>Rocket:&nbsp;</label>
        <span>{{launch.rocket}}</span>
    </div>
    <div class="info">
        <p>{{launch.info}}</p>
    </div>
    <div class="field">
        <label>Launch site:&nbsp;</label>
        <span>{{launch.site}}</span>
    </div>
    <button (click)="back();">Back</button>

</div>
